body {
    background-color: rgba(63, 61, 61, 0.847);
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    text-align: center;
    font-size: 550%;
    color: rgba(234, 234, 244, 0.849);

}

h2 {
    font-size: 300%;
    text-align: center;
    color: rgba(234, 234, 244, 0.849);
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    font-size: 300%;
    text-align: center;
    color: rgba(234, 234, 244, 0.849);
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    color: rgba(93, 228, 78, 0.832);
    padding: 5px;

}

ol {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    color: rgba(93, 228, 78, 0.832);
}

a {
    color: rgb(243, 196, 9);
}