body {
    background-color: rgba(63, 61, 61, 0.847);
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    text-align: center;
    font-size: 550%;
    color: rgba(234, 234, 244, 0.849);

}

h2 {
    font-size: 300%;
    text-align: center;
    color: rgba(234, 234, 244, 0.849);
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    font-size: 300%;
    text-align: center;
    color: rgba(234, 234, 244, 0.849);
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    color: rgba(93, 228, 78, 0.832);
    padding: 5px;

}

ol {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    color: rgba(93, 228, 78, 0.832);
}

a {
    color: rgba(243, 196, 9, 0.682);
    font-size: 155%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;

}
button{
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(255, 255, 255, 0.113);
    color: white;
    font-size: large;

}
